# gitignore template for Xilinx Vivado Design Suite
# website: https://www.xilinx.com/support/download.html

# [home]
*.jou
*.log
*.debug
*.str
*.zip
*.tmp
*.rst
*.os
*.js
*.pb
*.dcp
*.hwdef
*.vds
*.veo
*.wdf
*.vdi
*.dmp
*.rpx
*.rpt
*_stub.v
*_stub.vhdl
*_funcsim.v
*_funcsim.vhdl
.project

# [dir]
*.cache
.metadata
*.data
*.ipdefs
.Xil
*.sdk
*.hw
*.ip_user_files

### IP synth
*_synth_*

.jobs

### project synth
*.runs/synth*/*.xml
*.runs/synth*/*.txt
*.runs/synth*/*.sh
*.runs/synth*/*.tcl
*.runs/synth*/*.bat
*.runs/synth*/*.xdc
*.runs/synth*/*utilization*.rpt

*.runs/synth*/*.xml
*.runs/synth*/*.txt
*.runs/synth*/*.sh
*.runs/synth*/*.tcl
*.runs/synth*/*.bat
*.runs/synth*/*.xdc
*.runs/synth*/*utilization*.rpt

### project impl
*.runs/impl*/*.xml
*.runs/impl*/*.html
*.runs/impl*/*.txt
*.runs/impl*/*.sh
*.runs/impl*/*.tcl
*.runs/impl*/*.bat
*.runs/impl*/*utilization*.rpt

*.runs/impl*/*.xml
*.runs/impl*/*.html
*.runs/impl*/*.txt
*.runs/impl*/*.sh
*.runs/impl*/*.tcl
*.runs/impl*/*.bat
*.runs/impl*/*utilization*.rpt

### block design
*/bd/*/hdl
*/*/bd/*/hdl

*/bd/*/*.xdc
*/*/bd/*/*.xdc

*/bd/*/ip/*/*.xdc
*/*/bd/*/ip/*/*.xdc

*/bd/*/ip/*/*/
*/*/bd/*/ip/*/*/

*/bd/*/ip/*/*.vhd
*/*/bd/*/ip/*/*.vhd

*/bd/*/ip/*/*.xml
*/*/bd/*/ip/*/*.xml
Vivado_Projects/SK9822/SK9822.sim
Vivado_Projects/sk9822_axi4_v1_0_project/SK9822_AXI4_v1_0_project.runs
Vivado_Projects/SK9822_ZTurn/SK9822_ZTurn.gen
Vivado_Projects/SK9822_ZTurn/SK9822_ZTurn.runs
Vitis_Projects/SK9822_ZTurn/platform_tests/export
Vitis_Projects/SK9822_ZTurn/platform_tests/zynq_fsbl/build
Vitis_Projects/SK9822_ZTurn/platform_tests/zynq_fsbl/zynq_fsbl_bsp/libsrc/build_configs/gen_bsp/CMakeFiles


### CMake ###
*/CMakeLists.txt.user
*/CMakeCache.txt
*/CMakeFiles
*/CMakeScripts
*/Testing
*/Makefile
*/cmake_install.cmake
*/install_manifest.txt
*/compile_commands.json
*/CTestTestfile.cmake
*/_deps

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/

# End of https://www.toptal.com/developers/gitignore/api/cmake
Vitis_Projects/SK9822_ZTurn/platform_tests/ps7_cortexa9_0/standalone_ps7_cortexa9_0/bsp/libsrc/build_configs/gen_bsp/CMakeFiles
Vitis_Projects/SK9822_ZTurn/platform_tests/zynq_fsbl
Vitis_Projects/SK9822_ZTurn/platform_tests
Vitis_Projects/SK9822_ZTurn/SK9822/SK9822/hls
Vitis_Projects/SK9822_ZTurn/sum_io/top/hls
Vitis_Projects/SK9822_ZTurn/hls_component/hls_component/hls
Vitis_Projects/SK9822_ZTurn/tutorial1/tutorial1/hls
Vivado_Projects/HLS_tests/HLS_tests.sim
